@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loadingContainer {
     /* Center */
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
}
@media only screen and (max-width: 600px) {
    .loadingContainer {
        top: 50%;
    }
}
.loader {
    border-right-color: transparent;
    animation: loader-rotate 1s linear infinite;
}